@import "src/styles";

.wrapper {
  @include flex(column);
  width: 100%;
  gap: 5px;

  @include tabletAndDesktop {
    gap: 15px;
  }

  h4, h6 {
    justify-content: space-between;

    img {
      width: 20px;
    }
  }

  .actions {
    @include flex(row);

    .editIcon {
      width: 19px;
    }
  }

  .rowWrapper {
    @include flex(column);
    gap: 15px;
    width: 100%;

    p {
      font-size: 14px;
      line-height: 18px;
      color: $secondary;
    }

    .videoPreview {
      border: 1px solid $secondary;
      border-radius: 4px;
    }

    @include tabletAndDesktop {
      gap: 30px;

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }

    @include desktop {
      @include flex(row);

      .videoPreview {
        width: 50%;

        &.fullWidth {
          width: 100%;
        }
      }
    }
  }

  .columnWrapper {
    @include flex(column);
    gap: 5px;
    width: 100%;

    @include tabletAndDesktop {
      gap: 10px;
    }
  }
}
