// Colors
$primary: #1D2538;
$secondary: #475B74;
$lightSecondary: #7C8DA5;
$third: #E0E1DC;
$white: #FFFFFF;
$black: #000000;
$error: #EB5757;
$lightGrey: #a7a9af;

// Additional
$transitionAll03Ease: all 0.3s ease;

// Breakpoints
$screen-tablet-min-width: 768;
$screen-desktop-min-width: 1025;
$screen-desktop-middle-width: 1366;
