@import "src/styles";

.wrapper {
  @include flex(column);
  height: 100vh;
  min-height: 100vh;
  background: $third;
  position: fixed;
  left: calc(-100% + 40px);
  top: 0;
  width: 100%;
  padding: 20px 40px 20px 20px;
  z-index: 1;
  cursor: pointer;

  .button {
    @include flex(row, center, center);
    position: absolute;
    right: 7px;
    top: 10px;
    font-size: 24px;
    line-height: 1;
    color: $lightSecondary;
    border: unset;
    background: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: $secondary;
    }
  }

  @include tabletAndDesktop {
    width: 60%;
    padding: 40px max(5%, 60px);
    left: calc(-60% + 60px);

    .button {
      right: calc(max(5%, 60px) - 50px);
      top: 15px;
      font-size: 36px;
      width: 40px;
      height: 40px;
    }
  }

  &.isOpen {
    left: 0;
    cursor: unset;
    padding: 20px;
    overflow-y: auto;

    .button {
      transform: rotate(45deg);
      right: 10px;
    }

    @include tabletAndDesktop {
      padding: 40px 5%;

      .button {
        right: calc(max(5%, 60px) - 50px);
      }
    }
  }
}
