@import "flex";
@import "mediaQueries";
@import "src/styles/variables";

@mixin heading($fontSize: 48) {
  $lineHeightPoint: 1.5;
  $mobileSize: $fontSize * .6875;
  font-weight: 600;
  font-size: $mobileSize;
  line-height: $mobileSize * $lineHeightPoint;
  color: $primary;
  margin: 0;
  @include flex(row, center, flex-start, wrap);

  @include tabletAndDesktop {
    $tabletSize: $fontSize * .815;
    font-size: $tabletSize;
    line-height: $tabletSize * $lineHeightPoint;
  }

  @include desktop {
    font-size: $fontSize;
    line-height: $fontSize * $lineHeightPoint;
  }

  @content;
}
